* {
	margin: 0;
	padding: 0;
	border: 0;
}

li {
	list-style-type: none;
}

.wrapper {
	background-color: #f5f5f5;
}

.subject {
	height: 128px;
	width: 100%;
	line-height: 128px;
	color: #ead7d7;
	text-align: center;
	font-size: 96px;
	font-weight: bolder;
}

.content {
	width: 35%;
	border: solid 1px #A2A2A2;
	margin: 0 auto;
	border-radius: 2px;
}

.content input {
	height: 60px;
	width: 90%;
	padding: 0 5%;
	line-height: 60px;
	font-size: 24px;
	border-bottom: 1px solid #D5D5D5;
}

.listItem {
	width: 100%;
	min-height: 60px;
	border-bottom: 1px solid #D5D5D5;
	line-height: 60px;
    font-size: 28px;
}

.listItem span {
	display: inline-block;
}

.isActive {
	width: 15%;
	font-size: 22px;
	color: white;
	text-align: center;
	cursor: pointer
}

.isActive:hover{
	color: #C01D1D;
}

.dataContent {
	width: 63%;
}

.active {
	color: #555555;
}

.completed {
	color: #CCCCCC;
	text-decoration: line-through;
}

.delete {
	width: 15%;
	font-size: 22px;
	color: white;
	text-align: center;
	cursor: pointer
}

.delete:hover {
	color: #C01D1D;
}